<footer class="site-footer h-card">
  <div class="site-identity">
    <p class="site-name">DangerAspect/<span class="game">Siege</span></p>
    <p>{{- site.description | escape -}}</p>
    <p>Made with ♥ by <a href="https://twitter.com/joeyfjj">@joeyfjj</a>. <a href="/about">About this site + Disclaimer</a></p>
  </div>
  <div class="site-notices">
    <p>
      This site is not affiliated with or endorsed by Ubisoft. 
    </p>
    <p>
      Contribute and provide feedback on <a href="https://github.com/DangerAspect/siege">GitHub</a>!
    </p>
  </div>
</footer>
