@charset "utf-8";

// Define defaults for each variable.
@import "dangeraspect-siege/normalize", "dangeraspect-siege/debug";
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:200,500');

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('/assets/fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
src: url('/assets/fonts/open-sans-v16-latin-700.eot'); /* IE9 Compat Modes */
src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('/assets/fonts/open-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/open-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/open-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/open-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/open-sans-v16-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* oswald-200 - latin */
@font-face {
font-family: 'Oswald';
font-style: normal;
font-weight: 200;
src: url('/assets/fonts/oswald-v17-latin-200.eot'); /* IE9 Compat Modes */
src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
        url('/assets/fonts/oswald-v17-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/oswald-v17-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/oswald-v17-latin-200.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/oswald-v17-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/oswald-v17-latin-200.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* oswald-500 - latin */
@font-face {
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
src: url('/assets/fonts/oswald-v17-latin-500.eot'); /* IE9 Compat Modes */
src: local('Oswald Medium'), local('Oswald-Medium'),
        url('/assets/fonts/oswald-v17-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/oswald-v17-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/oswald-v17-latin-500.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/oswald-v17-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/oswald-v17-latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
  

$base-font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$header-font-family: "Oswald", $base-font-family;
$header-cap-height-multiplier: 0.8125;

$grid-unit:        48px !default;

$narrow-width: $grid-unit * 12;

$base-font-size:   $grid-unit * 0.25 !default;
$base-font-weight: 400 !default;
$base-line-height: 2.0 !default;

$text-color:       #fff !default;
$accent-color:      #11aaff !default;

$dark-background: rgba(0, 0, 0, 0.5);
$subtle-color:       #cfcfcf !default;

$background-image: url('/assets/images/bg_rankedreborn.jpg');

//Dark
$background-color: scale-color($accent-color, $lightness: -95%) !default;
$input-color: scale-color($accent-color, $lightness: -25%);
$input-border: 1px solid $input-color;
$input-focus-border: 1px solid #fff;
$input-focus-shadow: inset 0 0 12px saturate(lighten($input-color, 20%), 50%), 0 0 8px saturate(lighten($input-color, 20%), 50%);
$accent-legible-color: scale-color($accent-color, $lightness: 50%, $saturation: 50%);
$legible-shadow: 0 0 0.25rem $background-color;

$content-width:    24 * $grid-unit !default;


@mixin fontSize($size){
    font-size: $size * 0.5 / $header-cap-height-multiplier;
    line-height: $size;
}
@mixin logo {
    display: inline-block;
    font-family: $header-font-family;
    text-transform: none;
    font-weight: 200;
    .game{
        font-weight: 500;
        text-transform: uppercase;
    }
}

*, *:before, *:after{
    box-sizing: border-box;
}
html{
    background-color: $background-color;
}
body{
    color: $text-color;
    font-family: $base-font-family;

    font-size: 16px;
    line-height: $grid-unit * 0.5;

    padding: $grid-unit;

    background-image: linear-gradient(to bottom, 
        rgba($background-color, 0), 
        rgba($background-color, 0.6) #{$grid-unit * 8},
        rgba($background-color, 0.8) #{$grid-unit * 12},
        rgba($background-color, 1) #{$grid-unit * 24}
    );
}
#background{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    position: fixed;
    z-index: -1;

    background-image: $background-image;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;

    animation: 5s ease-out background-entry both paused;

    //filter: blur(4px);
}
header, main{
    animation: 1.5s ease-in-out content-entry both;
}
main{
    animation-delay: 0.5s;
}
@keyframes background-entry{
    from{
        opacity: 0;
        transform: scale(1.1);
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0.875;
        transform: scale(1.05);
    }
}
@keyframes content-entry{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    position: fixed;

    pointer-events: none;

    // Uncomment to enable visual grid
    //@include debug-grid();
}

@mixin heading($size){
    font-family: $header-font-family;
    font-weight: 500;
    text-transform: uppercase;

    margin: $size auto;

    @include fontSize($size);
}
h1{
    @include heading($grid-unit * 1.5);
    margin-bottom: $grid-unit;
    line-height: $grid-unit;
}
h2{
    @include heading($grid-unit * 1);
}
h3{
    @include heading($grid-unit * 0.75);
}
h4{
    @include heading($grid-unit * 0.5);
}
img{
    width: 100%;
}
.logo{
    @include logo();
}
.lead{
    @include fontSize($grid-unit * 0.75);
    max-width: $narrow-width;
    margin-left: 0;
    .logo{
        @include fontSize($grid-unit);
    }
}
.important{
    border: 1px solid $accent-color;
    padding: $grid-unit/4;
}

p{
    margin: $grid-unit*0.5 auto;
}

a{
    color: $accent-legible-color;
    text-shadow: $legible-shadow;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

small{
    @include fontSize($grid-unit * 0.4);
}

abbr[title]{
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
}

.table-emphasis{
    text-align: center;
    em{
        @include fontSize($grid-unit);
        font-family: $header-font-family;
        font-weight: 200;
        text-transform: uppercase;
        font-style: normal;
    }
}

table{
    width: auto;
    border-collapse: separate;
    border-spacing: $grid-unit * 0.125;
    table-layout: fixed;
    margin: #{$grid-unit * (1 - 0.125)} auto;

    tr{
        td, th{
            padding: #{$grid-unit * 0.2} #{$grid-unit * 0.25} #{$grid-unit * 0.175};
        }
        th, td{
            background-color: $dark-background;
            vertical-align: top;
        }
    }
}

.overflow-container{
    overflow-x: auto;
}

// Forms
@mixin form-control{
    min-height: $grid-unit;
    width: 100%;
    padding: #{0.25 * $grid-unit - 1px} #{0.25 * $grid-unit - 1px};

    background-color: $dark-background;
    color: $text-color;
    border: $input-border;

    text-decoration: none;

    transition: 0.1s linear padding;
    &:hover, &:focus{
        border: $input-focus-border;
        box-shadow: $input-focus-shadow;
    }
}
select, input[type=text], input[type=date], input[type=time]{
    @include form-control();
}
select{
    height: $grid-unit;
}
optgroup{
    background-color: $background-color;
    font-weight: bold;
    color: $text-color;
}
option{
    background-color: $background-color;
    color: $text-color;
}
input[type=checkbox]{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    & + label{
        @include form-control();
        display: block;
        user-select: none;
        position: relative;
        line-height: $grid-unit * 0.5;
    }
    &:checked + label{
        padding-left: 0.5 * $grid-unit;
        border: $input-focus-border;
        box-shadow: $input-focus-shadow;
        /*&::before{
            content: '';
            display: block;
            background-color: currentColor;
            border-radius: 50%;
            height: 0.25 * $grid-unit;
            width: 0.25 * $grid-unit;
            position: absolute;
            top: 0.25 * $grid-unit - 1px;
            left: 0.25 * $grid-unit - 1px;
        }*/
    }
}
.button, input[type=button], input[type=submit], button{
    @include form-control();
    display: block;
}
label{
    line-height: $grid-unit;
    font-weight: bold;
}
hr{
    border: 1px solid $text-color;
    margin: #{$grid-unit} 0;
    opacity: 0.5;
}
.narrow{
    //Limit max characters per line
    max-width: $narrow-width;
    margin: 0 0 auto 0;
}

// Lists
.home-call-to-action{
    margin-bottom: $grid-unit * 4;
    text-transform: uppercase;
}
.list{
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    list-style-position: inside;
    .list-item{
        .list-link{
            display: block;
            min-height: $grid-unit * 1.5;
            overflow: hidden;
            @include form-control();
            display: flex;
            font-family: $header-font-family;
            .list-title{
                flex: auto;
                @include fontSize($grid-unit * 0.75);
                padding: #{$grid-unit * 0.125} 0;
            }
            .list-meta{
                flex: inherit;
                opacity: 0.5;
                text-align: right;
            }
        }
        &.list-item-hidden{
            display: none;
        }
    }
}

.list-filter{
    margin-bottom: $grid-unit;
    display: flex;
    flex-wrap: wrap;
    .list-filter-text{
        flex: 1 0 66%;
        min-width: $grid-unit * 6;
    }
    .list-filter-category{
        flex: 1 0 33%;
        min-width: $grid-unit * 6;
    }
}

// Fonts 
.font-base{
    font-family: $base-font-family;
}
.font-header{
    font-family: $header-font-family;
    font-weight: 200;
}

// Heading
.site-header{
    font-family: $header-font-family;
    font-weight: 200;
    @include fontSize($grid-unit);
    text-shadow: 0 0 0.25rem $background-color;

    max-width: $content-width;
    margin: 0 auto;

    margin-bottom: $grid-unit*2;

    display: flex;
    flex-wrap: wrap;
    a{
        display: block;
        color: $text-color;
        text-decoration: none;
        border: none;
    }
    .site-title{
        flex: auto;
        font-size: inherit;
        font-weight: inherit;
        margin: 0;
        display: block;

        @include logo();
    }
    .site-nav{
        flex: auto;
        justify-content: flex-end;
        
        display: flex;
        .page-link{
            flex: initial;
            padding-right: $grid-unit * 0.5;

            opacity: 0.75;

            &:hover, &:focus{
                opacity: 1;
            }
            &.active{
                opacity: 1;
            }
            &:last-child{
                padding-right: 0;
            }
        }
    }
}

.page-content{
    max-width: $content-width;
    min-height: calc(100vh - #{$grid-unit * 8.5});
    margin: 0 auto;
    
    .post-meta{
        margin-top: $grid-unit * -1;
        margin-bottom: $grid-unit;

        &>span{
            background-color: $dark-background;
            padding: 0 0.5em;
        }
    }
}

.site-footer{
    max-width: $content-width;
    margin: ($grid-unit*2) auto (-$grid-unit*0.5);

    opacity: 0.5;

    display: flex;
    flex-wrap: wrap;

    .site-identity{
        flex: auto;
        .site-name{
            @include fontSize($grid-unit*1);
            @include logo();
        }
    }
    .site-notices{
        flex: auto;
        padding-top: $grid-unit;
        @include fontSize($grid-unit*0.375);
        flex: auto;
        text-align: right;
    }
    p{
        margin: 0;
    }
}

//Small displays
@media (max-width: $narrow-width){
    .site-header{
        flex-direction: column;
        .site-nav{
            justify-content: flex-start;
        }
    }
}