---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if page.list_contents and page.list_contents.size > 0 -%}
    <h2 class="list-heading" id="content-list">{{ page.list_title | default: "Posts" }}</h2>

    <div class="list-filter">
      <input type="text" class="list-filter-text" id="list-filter-text" placeholder="Search...">
      <select class="list-filter-category" id="list-filter-category">
        <option value="">All Categories</option>
      </select>
    </div>

    <ul class="list" id="list-contents">
      {%- for item in page.list_contents -%}
      <li class="list-item" data-title="{{item.title | escape}}" data-tags="{{item.tags | join: ' '}}" data-category="{{item.category}}">
        <a class="list-link" href="{{item.url}}">
          <div class="list-title">{{item.title | escape}}</div>
          <div class="list-meta">
            <div class="list-category">{{item.category}}</div>
            <div class="list-date">Updated {{ item.date | date: date_format }}</div>
          </div>
        </a>
      </li>
      {%- endfor -%}
    </ul>

    <p id="list-filter-results"></p>
  {%- endif -%}

  <!--
    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}
  -->

</div>

<script>
  "use strict";

  function findInArray(search, textArray){
    for (let index = 0; index < textArray.length; index++) {
      const text = textArray[index];
      if(text.toLowerCase().indexOf(search.toLowerCase()) >= 0){
        return true;
      }
    }
    return false;
  }

  function findMultipleInArray(searches, textArray){
    for (let index = 0; index < searches.length; index++) {
      const text = searches[index];
      if((text != "") && (!findInArray(text, textArray))){
        return false;
      }
    }
    return true;
  }

  function updateFilter(){
    var resultCount = 0;

    var categoryFilter = document.getElementById("list-filter-category").value;
    var textFilter = document.getElementById("list-filter-text").value.split(' ');

    var nodes = document.getElementById("list-contents").childNodes;

    nodes.forEach(node => {
      var textMatch = true;
      var categoryMatch = true;

      if(textFilter.length > 0)
      {
        var textArray = [];
        textArray.push(...node.dataset.title.split(' '));
        textArray.push(...node.dataset.tags.split(' '));
        textArray.push(...node.dataset.category);

        textMatch = findMultipleInArray(textFilter, textArray);
      }

      if(categoryFilter != "")
      {
        categoryMatch = categoryFilter == node.dataset.category;
      }

      if(textMatch && categoryMatch){
        node.classList.remove("list-item-hidden");
        resultCount++;
      }
      else{
        node.classList.add("list-item-hidden");
      }
    });
    

    var resultString = "";

    if(resultCount > 0){
      resultString = `Displaying ${resultCount} of ${nodes.length} entries.`;
    }
    else{
      resultString = "No results found! Try using a different search term.";
    }

    document.getElementById("list-filter-results").innerText = resultString;
  }

  function populateCategories(){
    var nodes = document.getElementById("list-contents").childNodes;
    var categoryArray = [];

    nodes.forEach(node => {
      if(categoryArray.indexOf(node.dataset.category) < 0){
        categoryArray.push(node.dataset.category);
      }
    });

    console.log(categoryArray);
    categoryArray.forEach(category => {
      var el = document.createElement("option");
      el.innerText = category;
      el.value = category;
      document.getElementById("list-filter-category").appendChild(el);
    });
  }

  document.getElementById("list-filter-category").addEventListener("change", updateFilter);
  document.getElementById("list-filter-text").addEventListener("change", updateFilter);
  document.getElementById("list-filter-text").addEventListener("keydown", updateFilter);
  document.getElementById("list-filter-text").addEventListener("keyup", updateFilter);
  document.getElementById("list-filter-text").addEventListener("paste", updateFilter);

  populateCategories();
  updateFilter();
</script>